<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Place4U</title>    
    </head>
    <body>

        <script>
            position=0;
            function success({coords, timestamp}){
                const latitude = coords.latitude;   // 위도
                const longitude = coords.longitude; // 경도

                document.getElementById("input_location").value=`${latitude}, ${longitude}`
                //Kakao map을 통해 한글주소로 변경되어야 함
            }
            function getUserLocation() {
                if (!navigator.geolocation) {
                    throw "위치 정보가 지원되지 않습니다.";
                }
                navigator.geolocation.getCurrentPosition(success)
                
            }
        </script>
        <form action="" method="POST">
            {% csrf_token %}
            <div>
                <label for="studentID">태그</label>
                <input type="text" name="input_tag" id="input_tag">
            </div>
            <div>
                <label for="name">위치</label>
                <input type="text" name="input_location" id="input_location" value="">
            </div>
            <br>
            <table>
                {{form.as_table}}
            </table>
            <input type="submit" value="제출">

        </form>
        <form action="" method="PUT">
            {% csrf_token %}
            <input type="button" value="내 위치 사용" onclick=getUserLocation()>

        </form>           


        <h1>최근 검색어</h1>
        {% if latest_searchedTag_list %}
            <ul>
            {% for searchedTag in latest_searchedTag_list %}
                <li>
                    <a href="{% url 'SearchAndList:results' searchedTag.id searchedTag.location%}">{{searchedTag.searchedTag_text}}, {{searchedTag.location}}
                    </a>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No recent tags.</p>
        {% endif %}
    </body>
</html>