<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Place4U</title>    
    </head>
    <body>
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=8add0bcb02b451c746e38e3443e57e61&libraries=services,clusterer,drawing"></script>

        <script>
            function success({coords, timestamp}){
                const latitude = coords.latitude;   // 위도
                const longitude = coords.longitude; // 경도
                console.log(latitude,longitude);
                var geocoder = new kakao.maps.services.Geocoder();
                geocoder.coord2RegionCode(longitude,latitude,function(result,status){
                    if (status === kakao.maps.services.Status.OK){
                        if (result[1].region_type === 'H'){
                            document.getElementById("input_location").value=`${result[0].address_name}`
                        }
                    }
                })
                //document.getElementById("input_location").value=`${latitude}, ${longitude}`
                //Kakao map을 통해 한글주소로 변경되어야 함
            }
            function getUserLocation() {
                if (!navigator.geolocation) {
                    throw "위치 정보가 지원되지 않습니다.";
                }
                navigator.geolocation.getCurrentPosition(success)
                
            }
        </script>
        <form action="" method="POST">
            {% csrf_token %}
            <p style="font-size:650%;margin-bottom:0;">Place4U</p>
            <p style="margin-top:0;margin-left:95px;"><img src="https://ifh.cc/g/YTqR0w.jpg" alt="insta" width="170" height="70"></p>
            <div>
                <label for="Tag" style="height:40px;width:40px;">태그:</label>
                <input type="text" name="input_tag" id="input_tag" style="height:40px;width:320px">
            </div>
            <div>
                <label for="Location" style="height:40px;width:40px">위치:</label>
                <input type="text" name="input_location" id="input_location" value="" style="height:40px;width:320px">
            </div>
            <br>
            <br>

            <table>
                {{form.as_table}}
            </table>
            <input type="submit" style="height:40px;width:370px" value="제출">
            <br>
            <br>
            <input type="button" style="height:40px;width:370px" value="내 위치 사용" onclick=getUserLocation()>

        </form>
        <style media="screen">
            .static{
                left:120px;
            }
        </style>
        <h2 class = "static">최근 검색어</h2>
        {% if latest_searchedTag_list %}
            <ul>
            {% for searchedTag in latest_searchedTag_list %}
                <li>
                    <a href="recent/{{searchedTag.id}}">{{searchedTag.searchedTag_text}}, {{searchedTag.searchedLocation_text}}
                    </a>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No recent tags.</p>
        {% endif %}
        <h2 class = "static">AI 추천태그</h2>
        {% if AI_Tag %}
            <ul>
            {% for recommendedTag in AI_Tag %}
                <li>
                    <a href="/">{{recommendedTag}}
                    </a>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No recent tags.</p>
        {% endif %}
    </body>
</html>